<section class="text-white p-3">
    <div class="card">
        <div class="d-flex align-items-center justify-content-between card-header">
            <div class="fs-4">{{title}}</div>
            <div>
                <span class="icon-fullscreen text-secondary fs-3 ms-1" *ngIf="fullScreen"></span>
                <span class="icon-settings text-secondary fs-3 ms-1" *ngIf="setting"></span>
                <span class="icon-help text-secondary fs-3 ms-1"></span>
            </div>
        </div>
        <div>
            <ng-content></ng-content>
        </div>
    </div>
</section>