<header class="border-bottom border-secondary">
    <div class="row d-flex align-items-center g-0">
        <div class="col-4">
            <div class="d-flex align-items-center">
                <h3 class="text-secondary ms-4 fs-4">Govalle Construction</h3>
                <div class="profile-image rounded-circle overflow-hidden ms-4 cursor-pointer">
                    <img src="./../../../assets/images/icon-5404125_1280.webp" alt="profileImage" class="w-100"
                        height="auto">
                </div>
                <div class="profile-image profile2 rounded-circle overflow-hidden cursor-pointer">
                    <img src="./../../../assets/images/icon-5404125_1280.webp" alt="profileImage" class="w-100"
                        height="auto">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="navbar p-0 text-white">
                <div class="nav-item icon-chart-1 fs-4 text-secondary cursor-pointer"></div>
                <div class="nav-item icon-chart-5 fs-4 text-secondary cursor-pointer"></div>
                <div class=" nav-item icon-chart-2 fs-4 text-secondary cursor-pointer"></div>
                <div class="nav-item icon-chart-3 fs-4 text-secondary cursor-pointer"></div>
                <div class="nav-item icon-active icon-chart-4   fs-4 text-secondary cursor-pointer"></div>
                <div class="nav-item icon-calendar fs-4 text-secondary cursor-pointer"></div>
                <div class="nav-item icon-file-earmark fs-4 text-secondary cursor-pointer"></div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</header>