<aside class="bg-black d-flex flex-column h-100">
    <div class="aside-header border-bottom border-secondary d-flex justify-content-center align-items-center p-3">
        <div class="border text-secondary rounded-circle p-1 mt-1  text-white">PM</div>
    </div>
    <div class="navbar flex-grow-1 d-flex flex-column align-items-center justify-content-between">
        <div class="first-section d-flex flex-column align-items-center  w-100 ">
            <div class="border-bottom border-secondary d-flex flex-column align-items-center w-100 my-3 pb-4">
                <div class="nav-item icon-home fs-4 text-secondary mb-5"></div>
                <div class="nav-item icon-clock fs-4 text-secondary"></div>
            </div>
            <div class=" my-3">
                <div class="nav-item icon-users fs-4 text-secondary mb-5"></div>
                <div class="nav-item icon-business fs-4 text-secondary"></div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <div class="nav-item icon-sun fs-4 text-secondary mb-5"></div>
            <div class="nav-item icon-add fs-4 text-secondary mb-5"></div>
            <div class="nav-item icon-help fs-4 text-secondary mb-5"></div>
            <div class="profile-image rounded-circle overflow-hidden">
                <img src="./../../../assets/images/icon-5404125_1280.webp" alt="profileImage" class="w-100"
                    height="auto">
            </div>
        </div>
    </div>
</aside>